/* Allgemeine Stile */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Höhe auf 100% setzen, um Scrollen zu ermöglichen */
    overflow: auto; /* Sicherstellen, dass der Inhalt gescrollt werden kann */
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.App-header {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 20px; /* Abstand nach oben */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: normal;
    color: #b3b3b3;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 12px;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

button.selected {
    background-color: #555;
    color: white;
}

input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #555;
    border-radius: 12px;
    background-color: #333;
    color: white;
    max-width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: filter 0.3s;
}

.card-container.blurred .card:not(.active) {
    filter: blur(5px);
}

.card {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 150px;
    color: white;
    z-index: 2;
    transition: transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.active {
    transform: scale(1.1);
}

.App-footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    color: #888;
}

.App-footer p {
    margin: 0;
}

@media (max-width: 600px) {
    .App-header {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    button {
        font-size: 0.875rem;
        padding: 8px 16px;
    }

    .card {
        font-size: 1.25rem;
        padding: 15px;
    }
}
